/.gradle/*
/bin/*
/build/*
/.settings/*
/.gradle/*

*.iml
.gradle
/local.properties
/.idea/libraries
.DS_Store
/build
/module/build
/captures
.externalNativeBuild
/.idea/*
/ext_assets
.gen
.classpath
.project

/module/keystore
/.gradle/